[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
/Packages/Newtonsoft.Json.12.0.2
/Assets/Proto/dst
.idea/
.vscode/
[Ll]ogs
